.form_control {
  width: 85% !important;
  margin-left: 2% !important;
  display: inline !important;
}
.attachment {
  width: 80% !important;
  background-color: #0476b4 !important;
}
.attachmentWrap {
  background-color: #0476b4 !important;
}
