@import "compass/css3";

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.course {
  font-weight: 400;
  background: #029b3c;
  color: #fff;
  /* margin-left: 400px;
  margin-bottom: 20px; */
}
.main {
  background-color: hsla(209, 82%, 48%, 0.8);
}
.mainwraper {
  display: flex;
  justify-content: space-between;
  background-color: #029b3c !important;
}
.mainwraperchildone {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainwraperchildtwo {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Nunito", sans-serif;
  color: #384047;
}

table {
  max-width: 960px;
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #fff;
}

tr {
  background: #21b7e9;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #2f9fb3;
}

th,
td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}
