body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #000;
}

.student-profile .card {
  border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
  width: 10px;
  height: 10px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid rgb(165, 35, 35);
  border-radius: 25%;
}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 70;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}